.review-section{
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 2rem;
    
    
}

.review-section input{
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button{
    border-radius: 5px;
}
button:hover{
    background-color: #005d48 ;
    color: white;
}
.star-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

